codercar-node-red-flows.json
[{"id":"9a33b10c.8ea8a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54dd7b22.df1884","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20b46933.53adf6","type":"ui_group","z":"","name":"Directions","tab":"b896296d.c680e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"9d3f4c53.6cd3e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#956cff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#956cff","edited":true},"page-titlebar-backgroundColor":{"value":"#956cff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ccb8ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#956cff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a0770c7d.7e70e","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"firmata","serialportName":"/dev/ttyUSB0","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":""},{"id":"b896296d.c680e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"98816b7e.29ed08","type":"ui_group","z":"","name":"Inputs and Outputs","tab":"b896296d.c680e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"779b7004.3a2ca","type":"ui_group","z":"","name":"Motor Control","tab":"b896296d.c680e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"48908ebe.0bf35","type":"ui_group","z":"","name":"Accelerometer","tab":"b896296d.c680e8","disp":true,"width":"6","collapse":true},{"id":"ed149888.f660c8","type":"ui_group","z":"","name":"Gyroscope","tab":"b896296d.c680e8","disp":true,"width":"6","collapse":true},{"id":"cdea505d.62866","type":"mqtt out","z":"9a33b10c.8ea8a","name":"","topic":"text/input","qos":"2","retain":"","broker":"54dd7b22.df1884","x":240,"y":120,"wires":[]},{"id":"fc137557.996c38","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"text/input","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":240,"y":280,"wires":[["56c64902.438b58"]]},{"id":"b1cdac54.7e97","type":"ui_text_input","z":"9a33b10c.8ea8a","name":"","label":"Text input","tooltip":"Input some text here and press Tab/Enter; it'll show up in the box below","group":"98816b7e.29ed08","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":240,"y":40,"wires":[["cdea505d.62866"]]},{"id":"56c64902.438b58","type":"ui_text","z":"9a33b10c.8ea8a","group":"98816b7e.29ed08","order":2,"width":0,"height":0,"name":"","label":"Text Output:","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":360,"wires":[]},{"id":"1dc377d4.eeab38","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"B - Backwards","tooltip":"","group":"779b7004.3a2ca","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1120,"y":800,"wires":[["256013a1.610d9c"]]},{"id":"256013a1.610d9c","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"40","set":false,"level":"0","freq":"","out":"out","x":1420,"y":560,"wires":[]},{"id":"bc31894f.20fa58","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"B - Forwards","tooltip":"","group":"779b7004.3a2ca","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1130,"y":860,"wires":[["b717ab4a.6cbd38"]]},{"id":"c41db1e1.c88da","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"A - Forwards","tooltip":"","group":"779b7004.3a2ca","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1130,"y":920,"wires":[["a0b21792.9a53d8"]]},{"id":"e121a75b.cb6dc8","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"D - Forwards","tooltip":"","group":"779b7004.3a2ca","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1130,"y":980,"wires":[["e67495e3.bbd0e8"]]},{"id":"dbdca5fd.e56718","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"D - Backwards","tooltip":"","group":"779b7004.3a2ca","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1120,"y":40,"wires":[["56a82094.a41f1"]]},{"id":"7d421690.00d0a8","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"C - Backwards","tooltip":"","group":"779b7004.3a2ca","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1120,"y":100,"wires":[["f6c47eb2.a4dc9"]]},{"id":"ccbe42d4.7487a","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"C - Forwards","tooltip":"","group":"779b7004.3a2ca","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1130,"y":160,"wires":[["8e95385e.63d7a8"]]},{"id":"deb80ade.a95488","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"A - Backwards","tooltip":"","group":"779b7004.3a2ca","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1120,"y":220,"wires":[["7df3420b.c67e8c"]]},{"id":"b717ab4a.6cbd38","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"38","set":false,"level":"0","freq":"","out":"out","x":1420,"y":620,"wires":[]},{"id":"a0b21792.9a53d8","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"36","set":false,"level":"0","freq":"","out":"out","x":1420,"y":680,"wires":[]},{"id":"e67495e3.bbd0e8","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"37","set":false,"level":"0","freq":"","out":"out","x":1420,"y":740,"wires":[]},{"id":"56a82094.a41f1","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"35","set":false,"level":"0","freq":"","out":"out","x":1420,"y":280,"wires":[]},{"id":"f6c47eb2.a4dc9","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"33","set":false,"level":"0","freq":"","out":"out","x":1420,"y":340,"wires":[]},{"id":"8e95385e.63d7a8","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"31","set":false,"level":"0","freq":"","out":"out","x":1420,"y":400,"wires":[]},{"id":"7df3420b.c67e8c","type":"rpi-gpio out","z":"9a33b10c.8ea8a","name":"","pin":"32","set":false,"level":"0","freq":"","out":"out","x":1420,"y":460,"wires":[]},{"id":"6d47f4be.d70a6c","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"Go Backwards","tooltip":"","group":"20b46933.53adf6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":580,"y":460,"wires":[["256013a1.610d9c","56a82094.a41f1","f6c47eb2.a4dc9","7df3420b.c67e8c","6ae5be55.1e3"]]},{"id":"30e91268.97d41e","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"Go Forwards","tooltip":"","group":"20b46933.53adf6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":590,"y":340,"wires":[["b717ab4a.6cbd38","a0b21792.9a53d8","8e95385e.63d7a8","e67495e3.bbd0e8","536b2102.42903"]]},{"id":"d97ec8c.9b6fc38","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"Turn Right","tooltip":"","group":"20b46933.53adf6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":590,"y":740,"wires":[["b717ab4a.6cbd38","8e95385e.63d7a8","e67495e3.bbd0e8","d54ff90.cc50b08"]]},{"id":"f2c7c74b.e28da8","type":"ui_switch","z":"9a33b10c.8ea8a","name":"","label":"Turn Left","tooltip":"","group":"20b46933.53adf6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":600,"y":620,"wires":[["e67495e3.bbd0e8","a0b21792.9a53d8","8e95385e.63d7a8","3388a2b7.563f1e"]]},{"id":"5b942ba3.63c004","type":"johnny5","z":"9a33b10c.8ea8a","name":"","func":"var led = new five.Led.RGB({\n    pins: {\n      red: 11,\n      green: 10,\n      blue: 9,\n    }\n  })\n\n  led.on()\n\n  led.blink(1000)\n  \nnode.on(\"input\", function(msg) {\n  led.color(msg.payload)\n})\n\nnode.send({topic: \"message\", payload: \"Hello There\"})","board":"a0770c7d.7e70e","noerr":0,"x":560,"y":1000,"wires":[[]]},{"id":"e81119bc.e4a7b8","type":"ui_colour_picker","z":"9a33b10c.8ea8a","name":"","label":"LED Colour","group":"98816b7e.29ed08","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":330,"y":1000,"wires":[["5b942ba3.63c004"]]},{"id":"6ae5be55.1e3","type":"mqtt out","z":"9a33b10c.8ea8a","name":"","topic":"motors/backwards","qos":"2","retain":"","broker":"54dd7b22.df1884","x":890,"y":160,"wires":[]},{"id":"59d31712.293bb8","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"motors/backwards","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":310,"y":1080,"wires":[["2fca7fd0.e7537"]]},{"id":"2fca7fd0.e7537","type":"johnny5","z":"9a33b10c.8ea8a","name":"","func":"let heart = [\n  \"01100110\",\n  \"10011001\",\n  \"10000001\",\n  \"10000001\",\n  \"01000010\",\n  \"00100100\",\n  \"00011000\",\n  \"00000000\"\n  ]\n  \nlet smile = [\n \"11100111\",\n \"00000000\",\n \"01100110\",\n \"01100110\",\n \"00000000\",\n \"01000010\",\n \"01111110\",\n \"00000000\"\n];\n\nlet back = [\n \"00111100\",\n \"00111100\",\n \"00111100\",\n \"00111100\",\n \"11111111\",\n \"01111110\",\n \"00111100\",\n \"00011000\"\n];\n    \nlet matrix = new five.Led.Matrix({\n  pins: {\n    data: 2,\n    clock: 3,\n    cs: 4\n  }\n })\n\nmatrix.on()\n\nnode.on(\"input\", function(msg) {\n    \nif (msg.payload == \"0\") {\n    matrix.draw(back)\n} else if (msg.payload == \"1\") {\n    matrix.draw(smile)\n}\n\n})\n\n","board":"a0770c7d.7e70e","noerr":0,"x":560,"y":1080,"wires":[[]]},{"id":"536b2102.42903","type":"mqtt out","z":"9a33b10c.8ea8a","name":"","topic":"motors/forwards","qos":"2","retain":"","broker":"54dd7b22.df1884","x":880,"y":100,"wires":[]},{"id":"7c59df4e.c6016","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"motors/forwards","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":320,"y":1160,"wires":[["4118f478.b385ec"]]},{"id":"4118f478.b385ec","type":"johnny5","z":"9a33b10c.8ea8a","name":"","func":"let heart = [\n  \"01100110\",\n  \"10011001\",\n  \"10000001\",\n  \"10000001\",\n  \"01000010\",\n  \"00100100\",\n  \"00011000\",\n  \"00000000\"\n  ]\n  \nlet smile = [\n \"11100111\",\n \"00000000\",\n \"01100110\",\n \"01100110\",\n \"00000000\",\n \"01000010\",\n \"01111110\",\n \"00000000\"\n];\n\nlet smile2 = [\n \"00000000\",\n \"11100111\",\n \"01100110\",\n \"01100110\",\n \"00000000\",\n \"01000010\",\n \"01111110\",\n \"00000000\"\n];\n\nlet matrix = new five.Led.Matrix({\n  pins: {\n    data: 2,\n    clock: 3,\n    cs: 4\n  }\n})\n\nmatrix.on()\n\nnode.on(\"input\", function(msg) {\n    \nif (msg.payload == \"0\") {\n    matrix.draw(smile2)\n} else if (msg.payload == \"1\") {\n    matrix.draw(smile)\n}\n\n})\n\n","board":"a0770c7d.7e70e","noerr":0,"x":560,"y":1160,"wires":[[]]},{"id":"3388a2b7.563f1e","type":"mqtt out","z":"9a33b10c.8ea8a","name":"","topic":"motors/left","qos":"2","retain":"","broker":"54dd7b22.df1884","x":870,"y":220,"wires":[]},{"id":"d54ff90.cc50b08","type":"mqtt out","z":"9a33b10c.8ea8a","name":"","topic":"motors/right","qos":"2","retain":"","broker":"54dd7b22.df1884","x":870,"y":280,"wires":[]},{"id":"8ce2d077.51089","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"motors/left","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":340,"y":1240,"wires":[["65162383.19067c"]]},{"id":"65162383.19067c","type":"johnny5","z":"9a33b10c.8ea8a","name":"","func":"let heart = [\n  \"01100110\",\n  \"10011001\",\n  \"10000001\",\n  \"10000001\",\n  \"01000010\",\n  \"00100100\",\n  \"00011000\",\n  \"00000000\"\n  ]\n  \nlet smile = [\n \"11100111\",\n \"00000000\",\n \"01100110\",\n \"01100110\",\n \"00000000\",\n \"01000010\",\n \"01111110\",\n \"00000000\"\n];\n\nlet left = [\n \"00010000\",\n \"00110000\",\n \"01111111\",\n \"11111111\",\n \"11111111\",\n \"01111111\",\n \"00110000\",\n \"00010000\"\n];\n    \nlet matrix = new five.Led.Matrix({\n  pins: {\n    data: 2,\n    clock: 3,\n    cs: 4\n  }\n})\n\nmatrix.on()\n\nnode.on(\"input\", function(msg) {\n    \nif (msg.payload == \"0\") {\n    matrix.draw(left)\n} else if (msg.payload == \"1\") {\n    matrix.draw(smile)\n}\n\n})\n\n","board":"a0770c7d.7e70e","noerr":0,"x":560,"y":1240,"wires":[[]]},{"id":"5c1a7d6c.81da74","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"motors/right","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":330,"y":1320,"wires":[["d6b7a7df.a11398"]]},{"id":"d6b7a7df.a11398","type":"johnny5","z":"9a33b10c.8ea8a","name":"","func":"let heart = [\n  \"01100110\",\n  \"10011001\",\n  \"10000001\",\n  \"10000001\",\n  \"01000010\",\n  \"00100100\",\n  \"00011000\",\n  \"00000000\"\n  ]\n  \nlet smile = [\n \"11100111\",\n \"00000000\",\n \"01100110\",\n \"01100110\",\n \"00000000\",\n \"01000010\",\n \"01111110\",\n \"00000000\"\n];\n\nlet right = [\n \"00001000\",\n \"00001100\",\n \"11111110\",\n \"11111111\",\n \"11111111\",\n \"11111110\",\n \"00001100\",\n \"00001000\"\n];\n    \nlet matrix = new five.Led.Matrix({\n  pins: {\n    data: 2,\n    clock: 3,\n    cs: 4\n  }\n})\n\nmatrix.on()\nmatrix.draw(smile)\n\nnode.on(\"input\", function(msg) {\n    \nif (msg.payload == \"0\") {\n    matrix.draw(right)\n} else if (msg.payload == \"1\") {\n    matrix.draw(smile)\n}\n\n})\n\n","board":"a0770c7d.7e70e","noerr":0,"x":560,"y":1320,"wires":[[]]},{"id":"f8af866e.781358","type":"comment","z":"9a33b10c.8ea8a","name":"JohnnyFive.js Nodes","info":"This group of nodes uses JohnnyFive.js to\ninterface with an Arduino Nano.\n\nOne changes the colour of an LED based on input\nfrom a Colour Picker in the Dashboard.\n\nThe other four interface with the LED Matrix,\ndisplaying a happy face by default.\n\nWhen each of the four nodes at the bottom\nreceives a message via MQTT about the status\nof one of the four Directions switches in the\nDashboard, it displays an arrow corresponding\nto the relative direction your CodeRcar is\nmoving, except for the Forwards switch, which\nmakes the screen display a slightly different\nsmiling face.","x":570,"y":940,"wires":[]},{"id":"7536cdb.214b034","type":"comment","z":"9a33b10c.8ea8a","name":"Some Input Catchers","info":"This group of nodes catches inputs and sends\nthem on to the JohnnyFive.js nodes.\n\nThe first one catches the colour value chosen\nin the LED Colour Picker in the Dashboard \n(defaults to white).\n\nThe bottom four catch values from MQTT regarding\nthe status of the four Motor Direction switches\nin the Dashboard, passing the values on.","x":300,"y":940,"wires":[]},{"id":"c07fd75b.3a0918","type":"comment","z":"9a33b10c.8ea8a","name":"Text Input/Output Nodes","info":"The top-most node is a Text input that is\ndisplayed in the Dashboard. When you press Tab\nor Enter on your keyboard after entering in\nsome characters, this node passes the value in\nthe textbox onward.\n\nThe second-from-the-top node is an MQTT input.\nIt publishes the value given to it by the Text\nInput node to the MQTT topic \"text/input\".\n\nThe third-from-the-top node is an MQTT output.\nIt subscribes to the \"text/input\" topic, and\nit relays whatever messages come from the \nMQTT input node to the Text Output node.\n\nFinally, the Text Output node displays the\nvalue of text given to it by the MQTT output\nnode.","x":250,"y":200,"wires":[]},{"id":"9cf3b757.4bb508","type":"comment","z":"9a33b10c.8ea8a","name":"GPIO Pin Definitions","info":"The below eight nodes (in light blue) are \nGPIO (General-Purpose Input/Output) Pin\nDefinitions. They define which pins are\nconnected to which motors.\n\nIt's fairly straightforward to figure out what\nthey do if you double-click on one of them\nand look at what's inside it.","x":1430,"y":220,"wires":[]},{"id":"91661023.ffb04","type":"comment","z":"9a33b10c.8ea8a","name":"Motor Direction Switches","info":"Click one of these to make your CodeRcar\nmove in a certain relative direction (Forwards,\nBackwards, Left, or Right).\n\nSee if you can follow the wires from these\nswitches back to the GPIO pins they control.","x":590,"y":540,"wires":[]},{"id":"9c85506.47df6b","type":"comment","z":"9a33b10c.8ea8a","name":"MQTT Direction Inputs","info":"These four purple nodes publish the current\nvalue of each of the Motor Direction Switches\n(either '0' or '1') to their respective\nMQTT topics.\n\nMQTT is a lightweight messaging protocol\nbuilt on technologies like TCP (Transmission\nControl Protocol) that power the Internet.\n\nThere should be an MQTT broker (called\nMosquitto) running on your Pi (on port 1883 by\ndefault), and these nodes will automatically\nconnect with it if it is up and running.\n\nThe topics to which each of the nodes publish\nis listed on them (they take the basic form\n\"motors/direction\").","x":860,"y":60,"wires":[]},{"id":"9887075.0309ef8","type":"comment","z":"9a33b10c.8ea8a","name":"Motor Control Switches","info":"These eight switches (the four directly above \nand the other four up top) send either a '0'\nor a '1' to the GPIO pins to which they\nare connected. They are very good for debugging,\nsince you can switch one on/off and see if the\nmotor connected to it is working.","x":1120,"y":1040,"wires":[]},{"id":"2f3bc4bd.556c2c","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"distance","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":150,"y":620,"wires":[["38c9b2f3.df4eae"]]},{"id":"38c9b2f3.df4eae","type":"ui_text","z":"9a33b10c.8ea8a","group":"98816b7e.29ed08","order":3,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":620,"wires":[]},{"id":"14562dd7.f1bdf2","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"accelerometer/x","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":240,"y":1600,"wires":[["44a7c85d.1d9948"]]},{"id":"bea56e83.52848","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"48908ebe.0bf35","order":4,"width":0,"height":0,"label":"Accelerometer Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#98df8a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":1660,"wires":[[]]},{"id":"2e45a545.de0f4a","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"accelerometer/y","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":240,"y":1660,"wires":[["bea56e83.52848"]]},{"id":"b35882b6.83bdf","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"48908ebe.0bf35","order":4,"width":0,"height":0,"label":"Accelerometer Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":1720,"wires":[[]]},{"id":"5009ffa9.55165","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"accelerometer/z","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":240,"y":1720,"wires":[["b35882b6.83bdf"]]},{"id":"44a7c85d.1d9948","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"48908ebe.0bf35","order":2,"width":0,"height":0,"label":"Accelerometer X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":1600,"wires":[[]]},{"id":"32b9f6ef.36118a","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"gyroscope/x","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":790,"y":1600,"wires":[["b0648684.fae698"]]},{"id":"a9c04a5a.9939d8","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"ed149888.f660c8","order":4,"width":0,"height":0,"label":"Gyroscope Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#98df8a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":1660,"wires":[[]]},{"id":"92da2813.b4d838","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"gyroscope/y","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":790,"y":1660,"wires":[["a9c04a5a.9939d8"]]},{"id":"4b8866e1.d8a998","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"ed149888.f660c8","order":4,"width":0,"height":0,"label":"Gyroscope Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":1720,"wires":[[]]},{"id":"b9b93cc2.1c83d","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"gyroscope/z","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":790,"y":1720,"wires":[["4b8866e1.d8a998"]]},{"id":"b0648684.fae698","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"ed149888.f660c8","order":2,"width":0,"height":0,"label":"Gyroscope X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":1600,"wires":[[]]},{"id":"f7e019be.9bbc98","type":"ui_chart","z":"9a33b10c.8ea8a","name":"","group":"98816b7e.29ed08","order":4,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":1840,"wires":[[]]},{"id":"848682ee.7b325","type":"mqtt in","z":"9a33b10c.8ea8a","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"54dd7b22.df1884","x":470,"y":1840,"wires":[["f7e019be.9bbc98"]]},{"id":"e7fb364d.8dea78","type":"comment","z":"9a33b10c.8ea8a","name":"MPU-6050 Nodes","info":"This group of nodes takes values from MQTT \n(specifically those broadcasted by the \n[mpu6050-mqtt.js](https://github.com/BotInABoxER/codercar-utils/blob/master/mpu6050-mqtt.js)\nscript from CodeRcar Utils)  and displays them on charts on\nthe dashboard.\n","x":650,"y":1540,"wires":[]}]
